*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    position: relative;
    margin: auto;
}

#header{
    text-align: center;
    background: #ebebeb;
    margin: 10px auto;
    width: 960px;
    padding-top: 40px;
    height: 100px;
}

#nav
{
    text-align: center;
    background: #ebebeb;
    margin-bottom: 20px;
    padding-top: 40px;
    height: 100px;
}

#section{
    background: #ebebeb;
    color: #777;
    width: 495px;
    text-align: center;
    height: 300px;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    float: left;  
    /*  clear: both;  */
}

#article{
    color: #ebebeb;
    background: #777;
    height: 210px;
    bottom: 20px;
    margin: auto;
    position: relative;
    padding-top: 10px;
    top: 30px;
}

p {
    background: #ebebeb;
    padding: 20px;
    margin: 20px;
    color: #777;
}

#aside{
    text-align: center;
    width: 445px;
    background: #ebebeb;
    color: #777;
    padding-top: 40px;
    /*  margin: 0 0 15px 515px;  */
    float: right;
    height: 300px;
    overflow:auto;
}

#footer {
    clear: both;
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding-top: 40px;
    height: 100px;
}

